#root {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

* {
  background-color: #fffdfc;
  color: #0d0c0c;
}

.logoimage {
  width: 40vh;
}

.navbar {
  margin: 0;
  padding: 0;
  background-color: #fae0d7;
  width: 100%;
}

.navbarcontainer {
  padding: 1.5% 1.5% 1.5% 1.5%;
  background-color: #fae0d7;
}

.navbarelement {
  background-color: #fae0d7;
}

.navbar-button {
  font-weight: bold;
  color: #2f056b;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar-button:hover {
  color: #e51065;
  background-color: #fae0d7;
}

.home-div {
  position: relative;
  text-align: center;
}

.main-home-img {
  width: 100%;
}

.home-text {
  position: absolute;
  top: 20%;
  left: 5%;
  right: 60%;
  background: transparent;
  color: #0d0c0c;
}

.typewriter-animation {
  position: absolute;
  top: 10%;
  left: 5%;
  right: 60%;
  background: transparent;
  white-space: nowrap;

}


@keyframes typing {
  0.0000%, 27.3488% { content: ""; }
  1.1395%, 26.2093% { content: "R"; }
  2.2791%, 25.0698% { content: "Ro"; }
  3.4186%, 23.9302% { content: "Rom"; }
  4.5581%, 22.7907% { content: "Roma"; }
  5.6977%, 21.6512% { content: "Roman"; }
  6.8372%, 20.5116% { content: "Romanc"; }
  7.9767%, 19.3721% { content: "Romance"; }

  30.7674%, 51.2791% { content: ""; }
  31.9070%, 50.1395% { content: "F"; }
  33.0465%, 49.0000% { content: "Fa"; }
  34.1860%, 47.8605% { content: "Fan"; }
  35.3256%, 46.7209% { content: "Fant"; }
  36.4651%, 45.5814% { content: "Fanta"; }
  37.6047%, 44.4419% { content: "Fantasy"; }

  54.6977%, 75.2093% { content: ""; }
  55.8372%, 74.0698% { content: "H"; }
  56.9767%, 72.9302% { content: "Ho"; }
  58.1163%, 71.7907% { content: "Hor"; }
  59.2558%, 70.6512% { content: "Horr"; }
  60.3953%, 69.5116% { content: "Horro"; }
  61.5349%, 68.3721% { content: "Horror"; }

  78.6279%, 96.8605% { content: ""; }
  79.7674%, 95.7209% { content: "S"; }
  80.9070%, 94.5814% { content: "Sc"; }
  82.0465%, 93.4419% { content: "Sci"; }
  83.1860%, 92.3023% { content: "SciF"; }
  84.3256%, 91.1628% { content: "SciFi"; }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.textanimation {
  color: #1a033a;
  background: transparent;
}

.typewriter {
  --caret: currentcolor;
  color: #e51065;
  background: transparent;
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}


@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }
  
  @keyframes sequencePopup {
    0%, 100% { content: "Romance"; }
    25% { content: "Fantasy"; }
    50% { content: "Horror"; }
    75% { content: "SciFi"; }
  }

  .typewriter::before {
    content: "Romance";
    animation: sequencePopup 12s linear infinite;
  }
}

.getstarted-button-div {
  position: absolute;
  top: 68%;
  left: 5%;
  right: 60%;
  background: transparent;
  white-space: nowrap;
}

.getstarted-button {
  background-color: #e51065;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.footer-component {
  margin: 0;
  padding: 0;
  background-color: #fae0d7;
  color: #0d0c0c;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.footer-div {
  position: relative;
  bottom: 0;
  width: 100%;
}

h2 {
  color: #e51065;
  text-transform: uppercase;
}

h3 {
  color: #1a033a;
}

h4 {
  color: #2f056b;
}

p {
  color: #0d0c0c;
}

.login-title {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.login-button {
  background-color: #e51065;
  border: 0;
}

.signup-redirect {
  color: #1a033a;
  text-decoration: none;
}

.profile-heading {
  background-color: #1a033a;
  color: #fae0d7;
}

.review-input {
  height: 80px;
}

.pink-button {
  background-color: #e51065;
}

.blue-button {
  background-color: #2f056b;
}

.review-results {
  font-style: italic;
}

.book-details {
  border: 1px solid #e51065;
  box-shadow: 5px 5px;
}